@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Teko&display=swap");
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/card.css");
@import url("components/button.css"); 

body{
font-family: 'Crimson Text', serif

font-size: 18px; 
}
h1,h2,h3{
font-family: 'Teko', serif;
font-weight: bold; 
}

a{
text-decoration:none; 
}

